

.module__613ac7058deea3030427a2f78946a2b6 {
    background:#10c45c !important; color:#ffffff;
    }
    .module__613ac7058deea3030427a2f78946a2b6 .icon {
    height:69px;
    }
    .module__613ac7058deea3030427a2f78946a2b6 .icon i {
    font-size: 73px; 
    color: #ffffff;
    }
    .module__0016f4fac2b9518778f7b69711e12779 {
    background:#fdc735 !important; color:#ffffff;
    }
    .module__0016f4fac2b9518778f7b69711e12779 .icon {
    height:69px;
    }
    .module__0016f4fac2b9518778f7b69711e12779 .icon i {
    font-size: 61px; 
    color: #ffffff;
    }
    .module__30ecef182737f11e8a25aa6534de227c {
    background:#307ad5 !important; color:#ffffff;
    }
    .module__30ecef182737f11e8a25aa6534de227c .icon {
    height:69px;
    }
    .module__30ecef182737f11e8a25aa6534de227c .icon i {
    font-size: 62px; 
    color: #ffffff;
    }
    .module__421b189b60bc1dc2bb2d7b244e125c39 {
    background:#ff0080 !important; color:#ffffff;
    }
    .module__421b189b60bc1dc2bb2d7b244e125c39 .icon {
    height:69px;
    }
    .module__421b189b60bc1dc2bb2d7b244e125c39 .icon i {
    font-size: 57px; 
    color: #ffffff;
    }
 